@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: #f4f3f2;
}

.cont-app {
 display: flex;
 flex-direction: row;
 justify-content: center;
}


@media only screen and (max-width: 375px) {
  .cont-app {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
}

