@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #f4f3f2;
}

.cont-app {
 /* background-color: royalblue; */
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.ins-con-app{
  /* background-color: red; */
}

